# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Site Settings
title                    : "Sharan Ramjee"
title_separator          : "-"
name                     : &name "Sharan Ramjee"
description              : &description "Machine Learning Engineer"
url                      : https://sharanramjee.github.io
baseurl                  : ""
repository               : "sharanramjee/sharanramjee.github.io"
future                   : true

# Site Author
author:
  name             : "Sharan Ramjee"
  avatar           : "stanford_rains_square.jpeg"
  bio              : "Machine Learning Engineer"
  location         : "San Francisco, CA"
  googlescholar    : "https://scholar.google.com/citations?user=QYNYHEMAAAAJ&hl=en"
  email            : "sharanramjee@gmail.com"
  github           : "sharanramjee"
  linkedin         : "sharanramjee"


# Reading Files
include:
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - Gemfile
  - LICENSE
  - node_modules
keep_files:
  - .git
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Collections
collections:
  publications:
    output: true
    permalink: /:collection/:path/
  projects:
    output: true
    permalink: /:collection/:path/


# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
  # _publications
  - scope:
      path: ""
      type: publications
    values:
      layout: single
  # _projects
  - scope:
      path: ""
      type: projects
    values:
      layout: single

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
timezone: America/Los_Angeles

# Plugins
plugins:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-redirect-from

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development
