{% include base_path %}

<!-- SEO -->
{% if site.url %}
  {% assign seo_url = site.url | append: site.baseurl %}
{% endif %}

{% if page.title %}
  {% if page.url == "/" %}
    {% assign seo_title = page.title %}
  {% else %}
    {% assign seo_title = page.title | append: " " | append: site.title_separator | append: " " | append: site.title %}
  {% endif %}
{% endif %}

{% if seo_title %}
  {% assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once %}
{% endif %}

<title>{{ seo_title | default: site.title }}</title>

{% if site.url %}
  <link rel="canonical" href="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
{% endif %}

<meta property="og:locale" content="{{ site.locale | default: "en" }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">

{% if seo_url %}
  <meta property="og:url" content="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
{% endif %}

{% assign seo_description = page.description | default: site.description %}
{% if seo_description %}
  <meta property="og:description" content="{{ seo_description | markdownify | strip_html | strip_newlines | escape_once }}">
{% endif %}
